@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import './modules/variables';
@import './modules/mixins';
@import './modules/layout';
@import './modules/header';
@import './modules/items_list';
@import './modules/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Old Stendart TT;
  font-style: italic;
}
