header {
  width: 100%;
  h1 {
    margin: 5px;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
  }
  form {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include default_border;
    input {
      padding: 5px;
      width: 75%;
      height: 2.2em;
      font-size: 1.2rem;
      border: 3px solid $old_black;
      background-color: $background_color_lite;
      border-radius: 5px;
    }
    button {
      padding: 5px;
      width: 20%;
      height: 2.2em;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      border: 3px solid $old_black;
      background-color: $background_color_lite;
      border-radius: 10px;
      @include button;
    }
  }
}
